*.o
minishell
*.a
minishell.dSYM
minishell.dSYM/Contents/Resources/DWARF/minishell
test.txt
minishell-tester
.vscode/launch.json
output
/output
/.DS_Store
/test.txt
/output.*
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/
/test.txt~origin_cw
auxiliary/
/minishell-tester/minishell
/minishell-tester/
/minishell.dSYM/
1.txt
2.txt
cmake-build-debug/
ls

