*.o
minishell
*.a
minishell.dSYM
minishell.dSYM/Contents/Resources/DWARF/minishell
test.txt
minishell-tester
.vscode/launch.json
output
/output
/test.txt
/output.*
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/
/test.txt~origin_cw
